/* Styles for the Advanced Markup assignment. */

nav ul li {
    display: inline;
    border: solid 1px black;
    padding: 5px;
}

.active {
    font-weight: 900;
    background: #cccccc;
    padding: 5px;
}