/* Styles for the Advanced Markup assignment. */

/*About Page Styles*/

dt {
    font-weight: 900;
}

.bio-photo {
    width: 25%;
    float: left;
    background: #cccccc;
    margin: 10px;
    padding: 5px;
    
}


.bio-photo img {
    width: 100%;
    height: auto;
}

/*Sidebar Styles*/

#sidebar {
    float: right;
    width: 25%;
    background: pink;
    margin: 20px; 
}
/*Navigation Styles*/

nav ul li {
    display: inline;
    border: solid 1px black;
    padding: 5px;
}

.active {
    font-weight: 900;
    background: #cccccc;
    padding: 5px;
}

/*Table Styles*/

table {
    width: 100%;
    text-align: left;
}

/*Content Styles*/

.poem {
    list-style: none;
}

