/*Fonts*/

@import url('https://fonts.googleapis.com/css?family=Gothic+A1|Nanum+Gothic');

h1, h2 {
    font-family: 'Gothic A1', sans-serif;
}

body {
    font-family: 'Nanum Gothic', sans-serif;
}

/*About Page Styles*/

dt {
    font-weight: 900;
}

.bio-photo {
    width: 25%;
    float: left;
    background: #2B2D42;
    border: solid 3px #D90429;
    margin: 10px;
    padding: 5px;
    color: #EDF2F4;
    
}

.bio-photo img {
    width: 100%;
    height: auto;
}

/*Sidebar Styles*/

#sidebar {
    float: right;
    width: 25%;
    background: pink;
    margin: 20px; 
    border: solid 4px #D90429;
    padding: 2px;
    background-color: #2B2D42;
    color: #EDF2F4;
}

#sidebar a {
    color: #8D99AE;
}

#sidebar ul {
    display: inline-flex;
    list-style: none;
}

.twitter {
  background-image: url('twitter-icon.png');
  display: block;
  width: 64px;
  height: 64px;
  background-repeat: no-repeat;
  margin-right: 10px;
  text-indent:-99999em
}

.facebook {
  background-image: url('facebook-icon.png');
  display: block;
  width: 64px;
  height: 64px;
  background-repeat: no-repeat;
  margin-right: 10px;
  text-indent:-99999em
}

.pinterest {
  background-image: url('pinterest-icon.png');
  display: block;
  width: 64px;
  height: 64px;
  background-repeat: no-repeat;
  margin-right: 10px;
  text-indent:-99999em
}

/*Navigation Styles*/

nav ul li {
    display: inline;
    border: solid 2px #2B2D42;
    padding: 5px;
    background-color: white;
}

.active {
    font-weight: 900;
    background-color: #2B2D42;
    color: #EDF2F4;
    padding: 5px;
    
}

nav li a:hover {
    background-color: #2B2D42;
    color: #EDF2F4;
}

footer {
    clear: both;
}

/*Table Styles*/

#selected_works {
    width: 50%;
    text-align: left;
}

table, th, td {
    border-collapse: collapse;
    border: solid 2px black;
    padding: 2px;
}

/*Content Styles*/

.poem {
    list-style: none;
}

li {
    text-underline-position: under;
}

.smalltext a {
    text-underline-position: under;
}

/*Address*/

address { 
    font-style: normal;
    font-weight: 900;
    text-align: center;
    text-underline-position: under;
}

